version: '3.8'

services:
  redis-stack:
    image: redis/redis-stack:latest
    container_name: zarailink-redis
    ports:
      - "6379:6379"
      - "8001:8001"
    environment:
      - REDIS_ARGS="--requirepass password123"
    volumes:
      - redis-data:/data

volumes:
  redis-data:
